<div id="<%= dom_id workout %>">
  <p>
    <strong>Date:</strong>
    <%= workout.date %>
  </p>

  <p>
    <strong>Workout:</strong>
    <%= workout.workout %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= workout.mood %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= workout.length %>
  </p>

</div>
